



.modal {
  position: absolute;
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  overflow: "auto";
  width: 800;
  background:"white";

  border: "2px solid #000";
  box-shadow: 24;
  padding: 4;
}
@media (max-width: 480px) {
.modal {
    position: absolute;
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    overflow: "auto";
    width: 100%;
    background:"white";

    border: "2px solid #000";
    box-shadow: 24;
    padding: 4;
  }

  .boardTile {}



}
